*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.centered {
    position: fixed;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
  background: #FFF;
  border: 1px solid #000;
  padding: 20px;
  width: auto;
}

.full {
  width:100%;
}

label{
  display:inline-block;
}

input {
  display:block;
  border: 2px solid #eee;
  padding: 10px;
  padding:10px;
  border: 1;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

select {
  display:block;
  border: 2px solid #eee;
  padding: 10px;
  padding:10px;
  border: 1;
  width:100%;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

select:required:invalid {
  color: gray;
}

option[value=""][disabled] {
  display: none;
}

input.invalid{
  border-color: #900;
  background-color: #FDD;
}

input.invalid:focused {
  outline: none;
}

.screenbuffer {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
}

button,
input[type=submit] {
  background-color: #7997a1;
  border: none;
  color: #fff;
  padding: 15px 30px;
  margin: 5px 3px;
  cursor: pointer;
}
